* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 145, 255);
    position: fixed;
    justify-content: space-between;
    z-index: 3;
}

.header_text {
    font-family: century-gothic;
    font-size: 60px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

.footer_text {
    font-family: century-gothic;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 42%;
}


.footer {
    justify-content: space-between;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: rgb(0, 145, 255);
    position: fixed;
    z-index: 3;
}

.leader_board_text {
    width: 20%;
    height: 10%;
    font-family: century-gothic;
    z-index: 8;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 145, 255);
    margin-top: 16%;
    margin-left: -20%;
}


.leader_board_text:hover {
    font-size: 31px;
}

.photo_tagging_image {
    width: 100%;
    min-width: 1660px;
    z-index: 0;
}

.item_one {
    width: 60px;
    height: 100px;
    bottom: -4500px;
    right: 100px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1%;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}


.item_two {
    width: 100px;
    height: 70px;
    bottom: -3300px;
    right: 930px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1%;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}


.item_three {
    width: 100px;
    height: 70px;
    bottom: -5800px;
    right: 1250px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1%;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}


.container {
    display: flex;
} 


.start_screen {
    height: -10vh;
    width: 100%;
    height: 97%;
    background-color: white;
    position: fixed;
    opacity: 80%;
    z-index: 2;
}

.start_screen_name {
    font-family: century-gothic;
    bottom: 70%;
    right: 18%;
    font-size: 100px;
    color: rgb(0, 0, 0);
    width: 60%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 4;
    border-radius: 5px;
    border: 3px solid rgb(0, 145, 255);
}


.start_button {
    width: 30%;
    height: 8%;
    right: 33%;
    background-color: rgb(0, 145, 255);
    position: fixed;
    bottom: 58%;
    z-index: 4;
    border-radius: 20px;
    font-size: 60px;
    font-family: century-gothic;
    color: white;
}

.start_button:hover {
    width: 30.1%;
    height: 8.1%;
    font-size: 62px;
}

.item_not_found {
    width: 70px;
    height: 60px;
    background-color: violet;
    border-radius: 40px;
    border: 3px solid rgb(254, 0, 0);
    position: relative;
}

.h1 {
    text-align: center;
}


.find_item_container {
    margin-top: 5px;
    right: 40%;
    grid-gap: 40px;
    position: absolute;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    position: absolute;
    text-align: center;
}


.leader_board_name_background {
    grid-template: repeat(20, 1fr) / repeat(1, 1fr);
    display: grid;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 12%;
    height: 80%;
    right: 0%;
    border-radius: 20px;
    top: 11%;
    z-index: 6;
}

.leader_board_name_background_hidden {
    visibility: hidden;
}

.leaderboard_user_text {
    text-align: center;
    font-family: century-gothic;
    font-size: 150%;
}